body {
    background-color: #fff;
}

h1.brand {
    font-size: 54px;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
}

nav {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding: 6px 12px;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
    color: #000;
}

.search-input {
    width: 500px;
    padding: 10px;
    appearance: none;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.search-filters {
    display: flex;
    flex-direction: row;
}

button {
    cursor: pointer;
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: 1px solid;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    border-color: #fff;
    background-color: #000;
}

.btn-primary:hover {
    color: #fff;
    border-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}

.btn-secondary {
    color: #000;
    border-color: #a0a9b2;
    background-color: #fff;
}

.btn-secondary:hover {
    color: #000;
    border-color: rgba(230, 230, 230, 1);
    background-color: rgba(240, 240, 240, 1);
}